block variables
doctype html
html
  head
    script.
      function validate(){
      try {
      let url = document.getElementById('url').value;
      var host = new URL(url).hostname;
      }
      catch (error){
      alert('invalid url');
      return false;
      }
      let allowed_hosts = ['google.com', 'imgur.com'];
      if (allowed_hosts.indexOf(host) !== -1){
      return true;
      }
      else{
      alert('only addresses from google.com and imgur.com are allowed');
      }
      return false;
      }
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{Title}
    link(rel="stylesheet", href="./stylesheets/style.css")
  body
    div#root
      block layout-content
