extends layout

block layout-content
 div.View
   h1.Banner #{title}
   div.Container
    form(id='send', method='POST', onsubmit='return validate()')
      label( for="URL") Give me an URL of an image and I will fetch it for you:
      input(type="text" name="url" id="url" required autofocus)
      input(value='Fetch', type='submit')

   div.NavButtons
       a(href="./")
         div.NavButton Menu
