extends layout

block layout-content
  div.View
    h1.Banner #{Title}
    div.Container
      div.Message
        div.Title
          h3 Upload ZIP file
          form(method='post', enctype='multipart/form-data')
            input(type='file', name='zipupload', required)
            input(type='submit', name='uploadzip', value='Upload ZIP')
    div.NavButtons
        a(href="./")
          div.NavButton Menu
