extends layout

block layout-content
  div.View
    h1.Banner #{Title}
    div.Container
      ul
        li
          div.NavButtons
            a(href="/task1")
              h3.NavButton First task
        li
          div.NavButtons
            a(href="/task2")
              h3.NavButton Second task
    div.NavButtons
      a(href="/")
        div.NavButton Menu

