extends layout

block layout-content
  div.View
    h1.Banner #{Title}
    div.Container
      div.Message
        div.Title
          h3 First
          img(src=First, width='200px', height='130px')
      div.Message
        div.Title
          h3 Second
          img(src=Second, width='200px', height='130px')
      div.Message
        div.Title
          h3 Third
          img(src=Third, width='200px', height='130px')
      
    div.NavButtons
        a(href="/")
          div.NavButton Menu
